<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Fundamentalne zasady</title>
</head>
<body>
    <h1>Fundamentalne zasady</h1>
    <p>Tu będą zasady fundamentalne.</p>
    <a href="/zaczytywanie">Wróć do Zaczytywania</a>
</body>
</html>