<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Panel Główny</title>
    <style>
        body {
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            background-color: #f4f4f9;
        }
        
        h1 { color: #333; }

        /* Stylizacja kontenera na przyciski */
        .button-container {
            display: flex;
            flex-direction: column; /* Przyciski jeden pod drugim */
            gap: 20px; /* Odstęp między przyciskami */
            width: 100%;
            max-width: 400px;
        }

        /* Stylizacja dużych przycisków */
        .big-btn {
            display: block;
            padding: 20px;
            font-size: 20px;
            text-align: center;
            text-decoration: none;
            color: white;
            background-color: #007BFF; /* Kolor niebieski */
            border-radius: 8px;
            transition: background-color 0.3s;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        }

        .big-btn:hover {
            background-color: #0056b3; /* Ciemniejszy po najechaniu */
            transform: translateY(-2px);
        }

        /* Różne kolory dla różnych akcji (opcjonalne) */
        .btn-mail { background-color: #28a745; } /* Zielony */
        .btn-plan { background-color: #ffc107; color: #333; } /* Żółty */
        .btn-rip { background-color: #dc3545; } /* Czerwony */
        .btn-spec { background-color: #dc8635; } /* Czerwony */
    </style>
</head>
<body>

    <h1>Wybierz moduł</h1>
    <p> <%= message %></p>

    <div class="button-container">
        <a href="/zaczytywanie" class="big-btn btn-mail">
            Zaczytywanie zamówień z maili
        </a>

        <a href="/planowanie" class="big-btn btn-plan">
            Planowanie
        </a>

        <a href="/ripowanie" class="big-btn btn-rip">
            Ripowanie
        </a>
        <a href="/ogolnezasadylabo" class="big-btn btn-labo">
            Reklamacje
        </a>
        <a href="/ogolnezasadylabo" class="big-btn btn-labo">
            Integracja Malych klientow
        </a>
         <a href="/ogolnezasadylabo" class="big-btn btn-labo">
            Zagle sloneczne
        </a>
        <a href="/ogolnezasadylabo" class="big-btn btn-labo">
            Specyfikacja Laboprint
        </a>
    </div>
</body>
</html>