<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Nadrzędne funkcje</title>
</head>
<body>
    <h1>Specyfikacja laboprint</h1>
    <p>https://laboprint.eu/</p>
  
    <a href="/" class="back-link">← Wróć do Menu Głównego</a>
</body>
</html>