<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Planowanie</title>
</head>
<body>
    <h1>Tu będzie: Planowanie</h1>
    <a href="/">Wróć do strony głównej</a>
</body>
</html>