<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zasady użytkowników</title>
</head>
<body>
    <h1>Zasady użytkowników</h1>
    <p>Tu będą ustawienia dla użytkowników.</p>
    <a href="/zaczytywanie">Wróć do Zaczytywania</a>
</body>
</html>